table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th, td{
    padding: 10px;
}
th{
    text-align: left;
    background-color: orange;
}
.texto2{
    background-color: aqua;
}